@import "tailwindcss";

/* Custom subtle scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0B0E11;
}
::-webkit-scrollbar-thumb {
  background: #2B313A;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #474D57;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

